<h2 class="page-header">Edit <%=@band.name%><h2>
<form action="<%=band_url(@band)%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%=auth_token%>
  <label for="band-name">Band Name:</label>
    <input type id="band-name" type="text" name="band[name]" value="<%=@band.name%>">
  <input type="submit" value="Edit band">

</form>
