
<h2 class="page-header">New Band!<h2>
<form action="<%=bands_url%>" method="post">
  <%=auth_token%>
  <label for="band-name">Band Name:</label>
    <input type id="band-name" type="text" name="band[name]">
  <input type="submit" value="Create new band">

</form>
