<% if type == :new %>
  <% action_url = users_url %>
  <% button_text = "Create User" %>
    <h2 class="page-header">New user</h2>

<% else %>
  <% action_url = session_url %>
  <% button_text = "Submit"%>
    <h2 class="page-header">Sign In</h2>

<% end %>
<form action="<%=action_url%>" method="post">
  <%=auth_token%>
  <p>
    <label for="user-email">Email</label>
    <input id ="user-email" type="text" name="user[email]">
  </p>
  <p>
    <label for="user-password">password</label>
    <input id ="user-password" type="password" name="user[password]">
  </p>
  <input type="submit" value="<%=button_text%>">
</form>
